$company-blue: #1875e7;
$headcol-width: 14em;

@mixin additional($size: 10px) {
	font-weight: bold;
	font-size: $size;
}

#navbar {
  width: 70%;
  height: 23px;
  color: $company-blue;
}

#navbar ul {
  @include additional(15px);
  list-style-type: none; 
}

#navbar li {
  background-color: $company-blue;
  float: left;
  a {
  	@include additional;
  }
}

@mixin header {
	.fixed {
	    position: absolute; 
	    width: $headcol-width; 
	    left: 0;
	    top: auto;
	    border-right: 0px none black; 
	    text-align: right;
	    cursor: pointer;
	    // border-top-width:3px;
	    // margin-top:-3px;
	}

	.header {
		background-color: #997711;
	}

	.detail {

	}
}

.hidden {
	display: none;
}

div { 

	table { 

		@include header;


		border-collapse:separate; 
		// border-top: 3px solid grey; 

		font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
		font-size: 12px;
		margin: 45px;
		width: 480px;
		text-align: left;
		// border-collapse: collapse;


		thead {

			tr {

        th {

					padding: 8px 2px;
					font-weight: normal;
					// font-size: 14px;
					border-bottom: 2px solid #6678b1;
					// border-right: 30px solid #fff;
					// border-left: 30px solid #fff;
					color: #039;

			    margin:0;
			    // border:3px solid grey; 
			    // border-top-width:0px; 
			    white-space:nowrap;

				}
		    .rotate {
			    -webkit-transform: rotate(-60deg); 
          -moz-transform: rotate(-60deg);	
      	}

			}


		}

		tbody {

			tr:hover td {
				color: #009;
			}

			tr {

				td {

//					padding: 12px 2px 0px 2px;
					padding: 8px 2px;
					// border-right: 30px solid #fff;
					// border-left: 30px solid #fff;
					color: #669;
					border-bottom: 1px solid #ccc;

			    margin:0;
			    // border:3px solid grey; 
			    // border-top-width:0px; 
			    white-space:nowrap;
				}

			}

		}

	}

  width: 400px; 
  margin-left: 6em; 
  overflow-x: scroll;  
  overflow-y: visible;
  // scroll: visible;
  overflow: ;
  padding-bottom: 1px;
}
