<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/table.css' />
  </head>
  <body>

    <div id="container">
    </div>

    <script src="/browserify.js"></script>
    <script>

      var _  = require('underscore');
      var d3 = require('d3');

      var domready = require('domready');

      domready(function () {
        var i = 0;

        d3.json("../json/" + '<%= parent %>', function( json ) {

        var labels = _.uniq( _.pluck( _.flatten( _.pluck( json, "properties" ) ), "name" ) )
        var columns = [{ style: "fixed", label: "id" }].concat( _.map( labels, function( label ) { return { style: "float", label: label } } ) )

        var table = d3.select("#container").append("table"),
            thead = table.append("thead"),
            tbody = table.append("tbody");

        thead.append("tr")
            .selectAll("th")
            .data( columns )
            .enter()
            .append("th")
              .text(          function( column ) { return column.label; })
              .attr( "class", function( column ) { return column.style; });
              
        var rows = tbody.selectAll("tr")
            .data( json )
            .enter()
            .append("tr");

        var cells = rows.selectAll("td")
            .data( function( row ) {
                return _.map( columns, function( column ) {
                  if( column.label === 'id' )
                  {
                    return { style: column.style, value: row.id + " " + row.name };
                  }
                  else
                  {
                    var property = _.find( row.properties, function( elem ) { return elem.name == column.label } );
                    return { style: column.style, value: property ? property.value : '' };
                  }
                });
            })
            .enter()
            .append("td")
                .text(         function( column ) { return column.value; })
                .attr("class", function( column ) { return column.style; });
        });
      });
    </script>

  </body>
</html>
