<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<li><a href="/gantt/show/root?name=Plan A&from=2012-10-25&to=2012-11-15">gantt</a></li>
    	<li><a href="/detail/show/root?from=2012-10-25&to=2012-11-15">detail</a></li>
    	<li><a href="/tree/show/root?name=Plan A&from=2012-10-25&to=2012-11-15">tree</a></li>
    </ul>
  </body>
</html>