<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tree.css' />
  </head>
  <body>
    <div id="chart">
    </div>
    <script>var root = '<%= parent %>';</script>
    <script src='/javascripts/d3.v2.js'></script>
    <script src='/javascripts/tree.js'></script>
  </body>
</html>
